<h4>Categories</h4>
<div class="row mt-2">
  <ul >
    <li>
      <a [routerLink]="['/']">ALL</a>
    </li>
    <li>
      <a [routerLink]="['/star-wars']">Star Wars</a>
    </li>
    <li>
      <a [routerLink]="['/famous-people']">Famous people</a>
    </li>
    <li>
      <a [routerLink]="['/saying']">Saying</a>
    </li>
    <li>
      <a [routerLink]="['/humor']">Humour</a>
    </li>
    <li>
      <a [routerLink]="['/motivational']">Motivational</a>
    </li>
  </ul>

</div>
