<nav class="navbar navbar-expang-lg navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">Good quotes for all times</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/" class="nav-link">Quotes</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/new" class="nav-link">Submit new quote</a>
      </li>
    </ul>
  </div>

</nav>
