<div class="row mt-2">
  <div class="col-6">
    <h4>Add new quote</h4>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="category">Category:</label>
        <select name="category" id="category" class="form-control" [(ngModel)]="category" #categoryInput>
          <option value="star-wars">Star Wars</option>
          <option value="famous-people">Famous people</option>
          <option value="saying">Saying</option>
          <option value="humor">Humour</option>
          <option value="motivational">Motivational</option>
        </select>
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        <input name="author" id="author" class="form-control" [(ngModel)]="author"/>
      </div>
      <div class="form-group">
        <label for="quote-text">Quote text:</label>
        <textarea name="quoteText" id="quote-text" class="form-control" [(ngModel)]="quoteText"></textarea>
        <button type="submit" class="btn btn-success mt-2">Save</button>
      </div>
    </form>
  </div>
</div>
