<div class="row mt-2">
    <div class="col-sm-8">
      <h4>Qouote details</h4>
      <div class="card-body">
        <h5 class="card-title">{{ citation.text }}</h5>
        <div class="card-text"><strong>- {{ citation.author }}</strong></div>
        <p>{{ citation.category }}</p>
      </div>
      </div>
</div>
