<h5>{{ citation.category }}</h5>
<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ citation.text }}</h5>
        <div class="card-text"><strong>- {{citation.author }}</strong></div>
      </div>
      <button type="submit" class="btn btn-success mr-2" [routerLink]="['details', citation.id, 'edit']">Edit</button>
      <button type="submit" class="btn btn-danger" (click)="onDelete(citation.id)">Delete</button>

    </div>
  </div>
</div>
